*{
box-sizing: border-box;
text-transform: uppercase;
}
table {

	border-spacing: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*       //////////////////////////       */

table{
  width: 1192px;
  margin: 0 auto;
  border: 20px solid #3A4965;
  font-family: 'Arimo';
  color: #484848;
}

thead tr td>*,
.cell-body>*{
  display: flex;
  justify-content: center;
  align-items:center;
}
svg{
padding-bottom: 5px;
}
.bold{
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
}
.cell{
  height: 115px;
}
.cell:nth-child(even),
.cell-body:nth-child(even){
  background-color:#E3E3E3;
}
.cell:nth-child(odd),
.cell-body:not(.bold):nth-child(odd){
  background-color:#F2F2F2;
}
td.frs-cell.cell-header{
background-color:#FAFAFA;
}
td.frs-cell.cell-header span:first-child{
  font-size: 14px;
}
td.frs-cell.cell-header span:last-child,
.cell:not(:first-child)
{
  font-size: 20px;
}
.default-cell{
  width: 14%;
}
thead tr td.cell{
border-bottom: 12px solid #3A4965;
}


/* ////////// body /////////// */

tbody tr td a{
  width: fit-content;
  margin: 10px auto 24px;
  padding: 8px 35px;
  border-radius: 5px;
  text-decoration: none;
  background-color:#414141;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}
tbody tr td:first-child{
  color:#FFFFFF;
}
.plan-name{
  padding-top: 23px;
  font-size: 24px;

}
tbody tr td:first-child div {
  display: flex;
justify-content: space-evenly;
}
tbody tr td:first-child div span:first-child{
  font-size: 36px;
}
tbody tr td:first-child div div span:last-child{
  font-size: 18px;
}
tbody tr td:first-child div span:last-child{
  font-size: 14px;
}
.green{
  background-color: #89C331;
}
.red{
  background-color: #F04A56;
}
.blue{
  background-color: #20807C;
}
