*{
box-sizing: border-box;
text-transform: uppercase;
}
.bg-simple-dark-gray{
  background-color: #DDDDDD;
}
.bg-simple-light-gray{
  background-color: #F4F4F4;
}
.bg-simple-gray{
  background-color: #EEEEEE;
}
.bg-light-gray{
  background-color: #F2F2F2;
}
.bg-gray{
  background-color: #E3E3E3;
}
.bg-dark-gray{
  background-color: #DDDDDD;
}
.cell-height{
  height: 72px;
  text-align: center; 
}
.cell-height div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-foot-height{
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center
}
.cell-foot-height a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.btn-buy-table-foot{
padding: 17px 56px;
border-radius: 5px;
}
.ftst-col-width{
  width: 31%;
}
.scd-col-width{
  width: 23%;
}
.border{
  border: 1px solid #E3E3E3;
  border-bottom: none;
}
.font-cell{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
/*       //////////////////////////       */

table{
  width: 1192px;
  margin: 0 auto;
  border: 15px solid #3A4965;
  font-family: 'Arimo';
  color: #484848;
}
.pricing-plan{
  vertical-align: middle;
}
.pricing-plan div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-plan span,
.pricing-plan-road div:first-child span,
.frst-price,
.scd-price span:first-of-type
{
  font-weight: 700;
}
.pricing-plan span:first-child{
  font-size: 18px;
  line-height: 28px;
}
.pricing-plan span:last-child{
  font-size: 30px;
  line-height: 28px;
}
.pricing-plan-road{
  max-height: 159px;
}
.pricing-plan-road div:first-child{
  padding: 23px 53px;
  color:#FFFFFF;
}
.green{
  background-color: #89C331;
}
.red{
  background-color: #F04A56;
}
.blue{
  background-color: #20807C;
}
.dark-gray{
  background-color: #484848;
}
.pricing-plan-flex-container{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 25px 0 13px 33px;
}
.frst-price{
  display: block;
  font-size: 60px;
  line-height: 28px;
}
.scd-price{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.scd-price span:first-of-type{
  font-size: 24px;
  line-height: 28px;
}
.scd-price span:last-of-type{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}


/* ////////////////// */

.storage::before,
.bandwidth::before,
.email::before,
.support::before,
.products::before,
.users::before{
  content: '';
  width: 26px;
  height: 26px;
  margin-right: 5px;
  background-image: url('./../image/storage.svg');
  background-repeat: no-repeat;

}
.bandwidth::before{
  background-image: url('./../image/band.svg');
}
.email::before{
  background-image: url('./../image/email.svg');
}
.support::before{
  background-image: url('./../image/support.svg');
}
.products::before{
  background-image: url('./../image/prod.svg');
}
.users::before{
  background-image: url('./../image/users.svg');
}
